<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="net.studio_taiha.XamarinFormsCameraPreview" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<application android:label="XamarinFormsCameraPreview" android:icon="@drawable/Icon" android:largeHeap="true"></application>
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>